{% extends "base_form.html" %}

{% block title %}Discrete Gene Set Analysis{% endblock %}

{% block header %}Gene Set Analysis{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function exampleGenes() {
            document.getElementById('{{ form.genes.name }}').value = "{{ example_hgnc_ids }}";
        }
    </script>
{% endblock %}

{% block lead %}
    This application performs gene set enrichment analysis using
    INDRA CoGEx, an automatically assembled biomedical knowledge graph
    consisting of causal, ontological, and property relationships,
    as well as relationships representing data. Given a list of genes
    as input the application ranks and lists GO terms, Reactome
    pathways, WikiPathway pathways, as well as upstream or downstream
    biological entities (e.g., genes/proteins, small molecules, biological
    processes) with respect to the input genes. Ranking
    is based on the overlap between the input genes and the gene sets
    corresponding to each listed term (e.g., the genes annotated
    with a given GO term or the genes that are part of a given
    Reactome pathway). <i>p</i>-values are calculated using Fisher's exact
    test with different options available to adjust for multiple hypothesis testing.
{% endblock %}
