{% extends "base_form.html" %}

{% block title %}Kinase Enrichment Analysis{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function examplePhosphosites() {
            document.getElementById('{{ form.phosphosites.name }}').value = "{{ example_phosphosites }}";
        }
    </script>
{% endblock %}

{% block header %}Kinase Enrichment Analysis{% endblock %}

{% block lead %}
    This application performs kinase over-representation analysis to identify kinases that are
    statistically enriched in a set of phosphosites based on known kinase-substrate relationships.<br>
    <small>
        The analysis uses phosphorylation data from the INDRA database to identify upstream kinases
        that are likely responsible for the phosphorylation patterns in your dataset.
    </small>
    <br>
    <br>
    The corresponding REST API endpoint for this analysis is <code>/api/kinase_analysis</code>.
    You can find it on the <a href="/apidocs">API Docs</a> under the section 'Analysis
    Queries'.
{% endblock %}