{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <!-- Vue 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Indralab-vue, for access to <statement> component and its child components -->
    {% if LOCAL_VUE %}
        <script src="{{ url_for('data_display.serve_indralab_vue', file='IndralabVue.umd.min.js') }}"></script>
        <link href="{{ url_for('data_display.serve_indralab_vue', file='IndralabVue.css') }}" rel="stylesheet">
    {% else %}
        <script src="{{ VUE_SRC_JS }}"></script>
        <link href="{{ VUE_SRC_CSS }}" rel="stylesheet">
    {% endif %}


    <!-- Source badge CSS -->
    <link href="{{ url_for('static', filename='source_badges.css') }}" rel="stylesheet">

    <style>
        .badge-subject {
            background-color: #4a36aa;
            color: #FFFFFF;
        }

        .badge-object {
            background-color: #2d8e4c;
            color: #FFFFFF;
        }

        .badge-other {
            background-color: #606060;
            color: #FFFFFF;
        }

        .badge-source {
            font-size: 8pt;
            margin: 0;
            padding-left: 5px;
            cursor: pointer;
        }

        .nvm {
            padding-left: 0;
            padding-right: 0;
        }

        .col-1 {
            flex: 12%;
            max-width: 12%;
        }

        .col-10 {
            flex: 76%;
            max-width: 76%;
        }
    </style>
{% endblock %}

{% block containerattr %}class="col-md-10 col-lg-10" id="vue-app"{% endblock %}

{% block container %}
    <div class="card">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">
                {% if title %}{{ title }}{% else %}CoGEx Statements{% endif %}
            </h4>
            Databases - <source-display></source-display> - Readers
        </div>
        {% if stmts|length == 0 %}
            <div class="card-body">
                {% if filter_curated %}
                    {# The statements were filtered, so allow for revealing rest #}
                    <p class="card-text">
                        There are no statements left to be curated!
                    </p>
                    <a class="btn btn-primary btn-hover"
                       href="{{ url_for(endpoint, prefix=prefix, identifier=identifier, filter_curated=False) }}">
                        Reveal curated content
                    </a>
                {% else %}
                    <p class="card-text">
                        {{ no_stmts_message if no_stmts_message else 'No statements to display.' }}
                    </p>
                {% endif %}
            </div>
        {% else %}
            {% if description %}
                <div class="card-body">
                    <p class="card-text">{{ description | safe }}</p>
                </div>
            {% endif %}
            <div class="list-group list-group-flush">
                <statement
                        class="list-group-item"
                        v-for="st_obj in this.$data.stmts"
                        :key="st_obj.hash"
                        :evidence="st_obj.ev_array"
                        :english="st_obj.english"
                        :hash="st_obj.hash"
                        :sources="st_obj.sources"
                        :total_evidence="st_obj.total_evidence"
                        :badges="st_obj.badges"
                        :loadable="true"
                        :sources_left_of_badges="true"
                        :include-db-evidence="include_db_evidence"
                ></statement>
            </div>
            {% if footer %}
                <div class="card-footer">
                    <small>{{ footer }}</small>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // Define globals
        // Sources dict = {databases: [...], readers: [...]}
        Vue.prototype.$sources = {{ sources_dict|safe }};
        // Define endpoints
        Vue.prototype.$stmt_hash_url = "{{ url_for('data_display.get_evidence', stmt_hash='') }}";
        Vue.prototype.$curation_url = "{{ url_for('data_display.submit_curation_endpoint', hash_val='') }}";
        Vue.prototype.$curation_list_url = "{{ url_for('data_display.list_curations', stmt_hash='', src_hash='') }}".slice(0, -2);

        let app = new Vue({
            el: '#vue-app',
            data: {
                stmts: [
                    {% for ev_array, english, hash_str, sources, total_evidence, badges in stmts %}
                        {
                            ev_array: {{ ev_array|safe }},
                            english: {{ english|safe }},
                            hash: {{ hash_str|safe }},
                            sources: {{ sources|safe }},
                            total_evidence: {{ total_evidence|int }},
                            badges: {{ badges|safe }}
                        },
                    {% endfor %}
                ],
                include_db_evidence: {{ include_db_evidence|tojson }}
            },
            mounted() {
                console.log('Statements:', this.stmts);
            }
        });
    </script>
{% endblock %}
