<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://bigmech.s3.amazonaws.com/indra-db/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-flow: column;
        }

        .footer {
            margin-top: auto;
            padding-top: 1em;
            background-color: #f5f5f5;
        }
    </style>


    <script src="https://kit.fontawesome.com/4c86883252.js" crossorigin="anonymous"></script>
    <title>Some title</title>

</head>
<body>

<!-- Main content -->
<h2 class="text-center">The INDRA Discovery service for INDRA CoGEx is currently down</h2>
<p class="text-center">
    The INDRA Discovery service for INDRA CoGEx is currently down for planned maintenance and will be back online in a
    couple of hours.<br>
    Please try again later.
</p>

<footer class="footer" id="about">
    <div class="container">
    <span class="float-right">
        <a href="#">Back to top</a>
    </span>
        <p class="small text-center text-muted">
            Developed by the <a href="https://indralab.github.io">INDRA Lab</a> in the
            <a href="https://hits.harvard.edu">Harvard Program in Therapeutic Science (HiTS)</a>.<br/>
            INDRA CoGEx (Context Graph Extension) is an automatically assembled biomedical knowledge graph which
            integrates
            causal mechanisms from INDRA with non-causal contextual relations including properties, ontology, and
            data.<br/>
            INDRA CoGEx is funded by the <b>DARPA Young Faculty Award W911NF2010255 (PI: Benjamin M. Gyori).</b><br/>
        </p>
    </div>
</footer>


<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>
