{% extends "base.html" %}

{% block title %}INDRA Biomedical Discovery Engine{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .card-deck > .card {
            box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
            transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        }

        .card-deck > .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

        #home-decks > .card-deck {
            margin-bottom: 1em;
        }

        #home-decks > h3 {
            margin: 0.5em auto 1em;
        }
    </style>
{% endblock %}

{% macro count_column(counter, key, label, icon) -%}
    <div class="col">
        {% set count, suffix = format_number(counter[key]) %}
        <i class="fa fa-{{ icon }}"></i>
        <h2><span class="count-{{ key }}" data-to="{{ count }}" data-time="1000"></span>{{ suffix }}</h2>
        <p class="count-text ">{{ label }}</p>
    </div>
{% endmacro %}

{% macro count_column_small(counter, key, label) -%}
    <div class="col" style="margin-bottom: 1em">
        {% set count, suffix = format_number(counter[key]) %}
        <span class="count-{{ key }}" data-to="{{ count }}" data-time="1000"></span>{{ suffix }}<br/>
        <small>{{ label|replace(" ", "&nbsp;")|safe }}</small>
    </div>
{% endmacro %}

{% macro start_button(url, default=None) -%}
    <div class="card-footer text-center">
        <a href="{{ url_for(url) or default }}" class="stretched-link" target="_blank">Click to Start</a>
    </div>
{% endmacro %}

{% block container %}
    <div class="row">
        <div class="card card-body" style="margin-bottom: 1em;">
            <h1 class="display-4">INDRA Biomedical Discovery Engine</h1>
            <p class="lead">
                The INDRA Biomedical Discovery Engine is built on INDRA CoGEx, a graph database integrating causal
                relations, ontological relations, properties, and data, assembled at scale automatically from the
                scientific literature and structured sources.
            </p>
            <div class="row text-center stats">
                {{ count_column(node_counter, "BioEntity", "Biological Entities", "dna") }}
                {{ count_column(node_counter, "ClinicalTrial", "Clinical Trials", "clinic-medical") }}
                {{ count_column(node_counter, "Publication", "Publications", "book") }}
                {{ count_column(node_counter, "Evidence", "Evidences", "puzzle-piece") }}
            </div>
            <div class="row text-center stats" style="padding-left: 3em; padding-right: 3em;">
                {% for edge_type, _ in edge_counter.most_common() %}
                    {{ count_column_small(edge_counter, edge_type, edge_labels[edge_type]) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" id="home-decks">
        {# TODO: see https://getbootstrap.com/docs/4.4/components/card/#grid-cards #}
        <h3 class="text-center">Apps and Services using INDRA CoGEx</h3>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" style="max-height: 100px" src="{{ url_for("static", filename="ora.png") }}"
                     alt="Over-representation analysis">
                <div class="card-body">
                    <h5 class="card-title">Discrete Gene List Analysis</h5>
                    <p class="card-text">
                        Performs gene set enrichment analysis using INDRA CoGEx.
                    </p>
                </div>
                {{ start_button('gla.discretize_analysis', '/gene/discrete') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px" src="{{ url_for("static", filename="rcr.png") }}"
                     alt="Reverse Causal Reasoning">
                <div class="card-body">
                    <h5 class="card-title">Signed Gene List Analysis</h5>
                    <p class="card-text">
                        Perform signed gene set enrichment analysis using INDRA CoGEx and the Reverse Causal
                        Reasoning algorithm.
                    </p>
                </div>
                {{ start_button('gla.signed_analysis', '/gene/signed') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px" src="{{ url_for("static", filename="gsea.png") }}"
                     alt="GSEA">
                <div class="card-body">
                    <h5 class="card-title">Continuous Gene Set Enrichment Analysis</h5>
                    <p class="card-text">
                        Perform gene set enrichment analysis on continuous data using INDRA CoGEx.
                    </p>
                </div>
                {{ start_button('gla.continuous_analysis', '/gene/continuous') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="{{ url_for("static", filename="msea.png") }}" alt="Metabolite set enrichment analysis">
                <div class="card-body">
                    <h5 class="card-title">Discrete Metabolite List Analysis</h5>
                    <p class="card-text">
                        Perform metabolite set enrichment analysis using INDRA CoGEx.
                    </p>
                </div>
                {{ start_button('mla.discrete_analysis', '/metabolite/discrete') }}
            </div>
        </div>

        <h3 class="text-center">Directed Curation</h3>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://conceptdraw.com/a708c3/p1/preview/256/pict--metabolic-pathway-map-key-metabolic-processes-biochemical-pathway-map">
                <div class="card-body">
                    <h5 class="card-title">GO Pathway Curator</h5>
                    <p class="card-text">
                        Curate networks induced by genes associated with a given Gene Ontology term.
                    </p>
                </div>
                {{ start_button('curator.gene_ontology') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://i.pinimg.com/originals/62/69/1d/62691dff8b3005c8064a0738ddb35aa0.jpg">
                <div class="card-body">
                    <h5 class="card-title">Topic Curator</h5>
                    <p class="card-text">
                        Curate statements from publications annotated with the given MeSH term.
                    </p>
                </div>
                {{ start_button('curator.mesh') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip">
                <div class="card-body">
                    <h5 class="card-title">Publication Curator</h5>
                    <p class="card-text">
                        Curate statements from a given publication.
                    </p>
                </div>
                {{ start_button('curator.paper') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://www.keysight.com/content/dam/keysight/en/img/prd/ixia-homepage-redirect/network-visibility-and-network-test-products/Network-Monitoring.jpg">
                <div class="card-body">
                    <h5 class="card-title">Subnetwork Curator</h5>
                    <p class="card-text">
                        Curate statements for the subnetwork induced by given entities.
                    </p>
                </div>
                {{ start_button('curator.subnetwork') }}
            </div>
        </div>

        <h3 class="text-center">Proteocentric Curation</h3>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://www2.lbl.gov/Science-Articles/Archive/images1/TF-proteins.gif">
                <div class="card-body">
                    <h5 class="card-title">TF Curator</h5>
                    <p class="card-text">
                        Curate statements about transcription factors regulating the amounts of their targets not
                        already appearing in databases like Pathway Commons.
                    </p>
                </div>
                {{ start_button('curator.tf') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://upload.wikimedia.org/wikipedia/commons/2/24/Riboflavin_kinase.png?20140204011711">
                <div class="card-body">
                    <h5 class="card-title">Kinase Curator</h5>
                    <p class="card-text">
                        Curate statements about kinases phosphorylating targets not
                        already appearing in databases like PhosphoSitePlus.
                    </p>
                </div>
                {{ start_button('curator.kinase') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://upload.wikimedia.org/wikipedia/commons/7/79/Calcineurin.png?20070203003651">
                <div class="card-body">
                    <h5 class="card-title">Phosphatase Curator</h5>
                    <p class="card-text">
                        Curate statements about phosphatases dephosphorylating targets not
                        already appearing in databases like Pathway Commons.
                    </p>
                </div>
                {{ start_button('curator.phosphatase') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://labsyspharm.github.io/dubportal/dubwheel.jpg">
                <div class="card-body">
                    <h5 class="card-title">Deubiquitinase Curator</h5>
                    <p class="card-text">
                        Curate statements about deubiquitinating enzymes.
                    </p>
                </div>
                {{ start_button('curator.deubiquitinase') }}
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://www.researchgate.net/profile/Abdullah-Kahtani/publication/328653994/figure/fig1/AS:688061251870722@1541057994885/Gene-Oncology-Structure-The-Gene-Ontology-2011_W640.jpg">
                <div class="card-body">
                    <h5 class="card-title">GO Annotation Curator</h5>
                    <p class="card-text">
                        Curate gene-GO term associations that are not already available as GO annotations.
                    </p>
                </div>
                {{ start_button('curator.goa') }}
            </div>
            {# <div class="card">
                <img class="card-img-top" style="max-height: 100px" alt="conflict resolution image"
                     src="https://www.gabek.com/wp-content/uploads/2013/02/konfliktloesung.png">
                <div class="card-body">
                    <h5 class="card-title">Conflict Resolver</h5>
                    <p class="card-text">
                        Continue curating statements that have conflicts in prior curations.
                    </p>
                </div>
                {{ start_button('curator.conflicts') }}
            </div> #}
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://upload.wikimedia.org/wikipedia/commons/5/56/1dfj_RNAseInhibitor-RNAse_complex.jpg">
                <div class="card-body">
                    <h5 class="card-title">PPI Curator</h5>
                    <p class="card-text">
                        Curate protein-protein interactions not already appearing in databases like BioGRID.
                    </p>
                </div>
                {{ start_button('curator.ppi') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Examples_of_microRNA_stem-loops.jpg/400px-Examples_of_microRNA_stem-loops.jpg">
                <div class="card-body">
                    <h5 class="card-title">miRNA Curator</h5>
                    <p class="card-text">
                        Curate miRNA-target interactions not already appearing in databases like miRTarBase.
                    </p>
                </div>
                {{ start_button('curator.mirna') }}
            </div>
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://upload.wikimedia.org/wikipedia/commons/b/bb/1a5r_SUMO-1_protein.gif">
                <div class="card-body">
                    <h5 class="card-title">Disorder Curator</h5>
                    <p class="card-text">
                        Curate intrensically disordered proteins' interactions not already appearing in databases.
                    </p>
                </div>
                {{ start_button('curator.disprot') }}
            </div>
        </div>

        {# <h3 class="text-center">Chemocentric Curation</h3>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" style="max-height: 100px"
                     src="https://council.science/wp-content/uploads/2017/04/IUPAC-feature-image-1400x600.jpg">
                <div class="card-body">
                    <h5 class="card-title">Modulator Curator</h5>
                    <p class="card-text">
                        Curate chemical-protein inhibition and modulation not already appearing in databases like
                        ChEMBL.
                    </p>
                </div>
                {{ start_button('curator.modulator') }}
            </div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div> #}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        (function ($) {
            $.fn.counter = function () {
                const $this = $(this),
                    numberFrom = 0,
                    numberTo = parseInt($this.attr('data-to')),
                    delta = numberTo - numberFrom,
                    deltaPositive = delta > 0,
                    time = parseInt($this.attr('data-time')),
                    changeTime = 10;

                let currentNumber = 0,
                    value = delta * changeTime / time;
                let interval1;
                const changeNumber = () => {
                    currentNumber += value;
                    //checks if currentNumber reached numberTo
                    (deltaPositive && currentNumber >= numberTo) || (!deltaPositive && currentNumber <= numberTo) ? currentNumber = numberTo : currentNumber;
                    this.text(parseInt(currentNumber));
                    currentNumber === numberTo ? clearInterval(interval1) : currentNumber;
                }

                interval1 = setInterval(changeNumber, changeTime);
            }
        }(jQuery));

        $(document).ready(function () {
            {% for key in node_counter %}
                $('.count-{{ key }}').counter();
            {% endfor %}
            {% for key in edge_counter %}
                $('.count-{{ key }}').counter();
            {% endfor %}
        });
    </script>
{% endblock %}
