{% extends 'indra_cogex_base_template.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Gene List Analysis</h3>
                    </div>
                    <div class="card-body">

                        <div class="container border rounded">
                            <h5 class="card-title">Discrete Gene List Analysis</h5>
                            <p class="card-text">
                                Discrete gene list analysis of a set of genes.
                            </p>
                            <a href="/gla/discrete" class="btn btn-primary">Discrete</a>
                        </div>

                        <div class="container border rounded">
                            <h5 class="card-title">Signed Gene List Analysis</h5>
                            <p class="card-text">
                                Signed gene list analysis of a set of genes.
                            </p>
                            <a href="/gla/signed" class="btn btn-primary">Signed</a>
                        </div>

                        <div class="container border rounded">
                            <h5 class="card-title">Continuous Gene List Analysis</h5>
                            <p class="card-text">
                                Continuous gene list analysis of a set of genes.
                            </p>
                            <a href="/gla/continuous" class="btn btn-primary">Continuous</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="text-center">Metabolite List Analysis</h3>
                    </div>
                    <div class="card-body">

                        <div class="container border rounded">
                            <h5 class="card-title">Discrete Metabolite List Analysis</h5>
                            <p class="card-text">
                                Discrete metabolite list analysis of a set of genes.
                            </p>
                            <a href="/mla/discrete" class="btn btn-primary">Discrete</a>
                        </div>

                        <div class="container border rounded">

                            <h5 class="card-title">Signed Metabolite List Analysis</h5>
                            <p class="card-text">
                                Signed metabolite list analysis of a set of genes.
                            </p>
                            <a href="/mla/signed" class="btn btn-primary">Signed</a>
                        </div>

                        <div class="container border rounded">
                            <h5 class="card-title">Continuous Metabolite List Analysis</h5>
                            <p class="card-text">
                                Continuous metabolite list analysis of a set of genes.
                            </p>
                            <a href="/mla/continuous" class="btn btn-primary">Continuous</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
