{% extends "base_form.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cytoscape/dist/cytoscape.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <style>
        .btn-role {
            width: 115px;
            height: 70px;
            background-color: #f8f9fa;
            border: 1px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            transition: all 0.3s ease;
            margin: 10px;
        }
        .btn-role img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            pointer-events: none;
        }

        .btn-role.active {
            background-color: #e9ecef;
            border-color: #0056b3;
        }

        .btn-role:hover {
            background-color: #e9ecef;
        }

        .role-buttons-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .agent-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .choices__list--dropdown {
            max-height: 300px;
            overflow-y: auto;
        }

        .cy-role {
            pointer-events: none; /* Disable all node interactions */
        }

        .other-agent-container {
            margin-top: 15px;
            display: none;
        }
        #ground-results-container {
            position: relative;
            margin-top: 10px;
        }
        #ground-results {
            width: 100%;
        }
        #ground-agent-button {
        width: 200px;
        }
        #ground-mesh-button {
        width: 200px;
        }
    </style>

    {{ super() }}
{% endblock %}

{% block container %}

<div class="card card-body bg-light">
    <h1 class="display-4">Statement Search</h1>
    <p class="lead">Search for statements by specifying agent, relationship types, and roles.</p>

    <form method="POST" id="agent-form">
        <!-- Agent Input -->
        <div class="form-group agent-container">
            <label for="agent-name">Agent</label>
            <div style="display: flex; align-items: center;">
                <input type="text" class="form-control" id="agent-name" name="agent_name" placeholder="Enter agent name" required>
                <select class="form-control" id="agent-select" style="display: none;"></select>
                <button type="button" id="ground-agent-button" class="btn btn-secondary ml-2">Ground with Gilda</button>
            </div>
        </div>

        <!-- Subject/Object Role Buttons -->
        <div class="form-group">
            <label for="role-buttons-container" class="form-label">Role</label>
            <div class="role-buttons-container" id="role-buttons-container">
                <div class="btn-role" id="btn-subject" data-role="subject">
                    <img src="{{ url_for('static', filename='search/images/role_button1.png') }}" alt="Subject" />
                </div>
                <div class="btn-role" id="btn-object" data-role="object">
                    <img src="{{ url_for('static', filename='search/images/role_button2.png') }}" alt="Subject" />
                </div>
                <div class="btn-role" id="btn-either" data-role="either">
                    <img src="{{ url_for('static', filename='search/images/role_button3.png') }}" alt="Subject" />
                </div>
            </div>
        </div>

        <!-- Optional Other Agent Input -->
            <div class="form-group other-agent-container" id="other-agent-container">
                <label for="other-agent-name">Other Agent(Optional)</label>
                <input type="text" class="form-control" id="other-agent-name" name="other_agent" placeholder="Enter other agent name">
            </div>

        <!-- Relationship Type Multiselect -->
        <div class="form-group mt-4">
            <label for="choices-multiple-remove-button">Relationship Types</label>
            <select id="choices-multiple-remove-button" name="rel_types[]" multiple></select>
            <input type="hidden" id="rel-type-hidden" name="rel_type" value="">
        </div>


        <!-- Mesh Constraint -->
        <div class="form-group mesh-container">
            <label for="mesh-name">Mesh Constraint</label>
            <div style="display: flex; align-items: center; gap: 10px;">
                <!-- Input field for Mesh name -->
                <input type="text" class="form-control" id="mesh-name" name="mesh_name" placeholder="Enter Mesh name">
                <select class="form-control" id="mesh-select" style="display: none;"></select>
                <button type="button" id="ground-mesh-button" class="btn btn-secondary">Ground with Gilda</button>
            </div>
        </div>

        <!-- Hidden Inputs for Roles -->
        <input type="hidden" id="agent-role" name="agent_role" value="">
        <input type="hidden" id="other-agent-role" name="other_agent_role" value="">
        <!-- Hidden Inputs for Agent -->
        <input type="hidden" id="agent-tuple" name="agent_tuple" value="">

        <input type="hidden" id="mesh-tuple" name="mesh_tuple" value="">


        <button type="submit" class="btn btn-primary mt-4">Search</button>

    </form>
</div>

<script id="stmt-types-json" type="application/json">
    {{ stmt_types_json | safe }}
</script>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/cytoscape/dist/cytoscape.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<script src="{{ url_for('static', filename='search/js/search.js') }}"></script>
{% endblock %}
