{% extends "base_form.html" %}

{% block title %}Signed Gene Set Analysis{% endblock %}

{% block scripts %}
    <script>
        function exampleGenes() {
            document.getElementById('{{ form.positive_genes.name }}').value = "{{ example_positive_hgnc_ids }}";
            document.getElementById('{{ form.negative_genes.name }}').value = "{{ example_negative_hgnc_ids }}";
        }
    </script>
{% endblock %}

{% block header %}Signed Gene Set Analysis{% endblock %}

{% block lead %}
    This application performs signed gene set enrichment analysis using
    INDRA CoGEx and the Reverse Causal Reasoning algorithm.
{% endblock %}
