{% extends "base_form.html" %}

{% block title %}Metabolite Set Analysis{% endblock %}

{% block header %}Metabolite Set Analysis{% endblock %}

{% block styles %}
    {{ super() }}
    {% include "_compact_form.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function exampleMetabolites() {
            document.getElementById('{{ form.metabolites.name }}').value =
                "{{ example_chebi_curies }}";
        }
    </script>
{% endblock %}

{% block lead %}
    This application performs metabolite set enrichment analysis using
    INDRA CoGEx, <i>p</i>-values are calculated using Fisher's exact
    test with different options available to adjust for multiple
    hypothesis testing.
    <br>
    <br>
    The corresponding REST API endpoint for this analysis is
    <code>/api/metabolite_discrete_analysis</code>.
    You can find it on the
    <a href="{{ config.get('APPLICATION_ROOT', '') }}/apidocs">API Docs</a>
    under the section 'Analysis Queries'.
{% endblock %}

{% block container %}
    <div class="card card-body bg-light">
        <h1 class="h2">{{ self.header() }}</h1>
        <p class="form-lead text-muted">{{ self.lead() }}</p>

        <form method="POST" id="main-form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.metabolites.label(class="font-weight-bold") }}
                {{ form.metabolites(class="form-control", rows=6) }}
                <small class="form-text text-muted">
                    {{ form.metabolites.description|safe }}
                </small>
            </div>

            <div class="form-row param-row">
                <div class="form-group col-md-4">
                    {{ form.minimum_evidence.label(class="font-weight-bold") }}
                    {{ form.minimum_evidence(class="form-control") }}
                    <small class="form-text text-muted">
                        {{ form.minimum_evidence.description }}
                    </small>
                </div>
                <div class="form-group col-md-4">
                    {{ form.minimum_belief.label(class="font-weight-bold") }}
                    {{ form.minimum_belief(class="form-control") }}
                    <small class="form-text text-muted">
                        {{ form.minimum_belief.description }}
                    </small>
                </div>
                <div class="form-group col-md-4">
                    {{ form.alpha.label(class="font-weight-bold") }}
                    {{ form.alpha(class="form-control") }}
                    <small class="form-text text-muted">
                        {{ form.alpha.description }}
                    </small>
                </div>
            </div>

            <div class="form-group form-check">
                {{ form.keep_insignificant(class="form-check-input") }}
                {{ form.keep_insignificant.label(class="form-check-label") }}
            </div>

            <div class="form-group">
                <label class="font-weight-bold">
                    {{ form.correction.label.text }}
                </label>
                <div class="correction-options">
                    {% for option in form.correction %}
                        <div class="form-check">
                            {{ option(class="form-check-input") }}
                            {{ option.label(class="form-check-label") }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
