{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <!-- Chat app css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='chat/css/app.css') }}">
{% endblock %}

{% block container %}
    {{ super() }}
    <div class="chatbubble opened">
        <div class="chat-title">
            <div class="title">Chat with INDRA CoGEx</div>
        </div>
        <div class="expanded chat-window">
            <div class="login-screen container">
                <form id="loginScreenForm">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" id="fullname" placeholder="Name*" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email Address*" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-block btn-primary">Start Chat</button>
                    </div>
                </form>
            </div>
            <div class="chats">
                <div class="loader-wrapper">
                    <div class="loader">
                        <span>{</span><span>}</span>
                    </div>
                </div>
                <ul class="messages clearfix">
                </ul>
                <div class="input">
                    <form class="form-inline" id="messageSupport">
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" id="newMessage"
                                   placeholder="Enter Message">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Chat app setup -->
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script>
        const pusher = new Pusher('{{ pusher_app_key }}', {
            authEndpoint: '{{ url_for('chat.pusher_authentication') }}',
            cluster: 'mt1',
            encrypted: true
        });
        console.log(typeof window.Popper === 'undefined' ? 'Popper is loaded' : 'Popper is loaded');
        console.log(Boolean('{{ pusher_app_key }}') ? 'Pusher app key defined' : 'Pusher app key not defined');
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='chat/js/axios.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chat/js/app.js') }}"></script>
{% endblock %}
