{% extends "base.html" %}


{% block title %}INDRA CoGEx{% endblock %}



{% macro count_column(counter, key, label, icon) -%}
    <div class="col">
        {% set count, suffix = format_number(counter[key]) %}
        <i class="fa fa-{{ icon }}"></i>
        <h2><span class="count-{{ key }}" data-to="{{ count }}" data-time="1000"></span>{{ suffix }}</h2>
        <p class="count-text ">{{ label }}</p>
    </div>
{% endmacro %}

{% macro count_column_small(counter, key, label) -%}
    <div class="col" style="margin-bottom: 1em">
        {% set count, suffix = format_number(counter[key]) %}
        <span class="count-{{ key }}" data-to="{{ count }}" data-time="1000"></span>{{ suffix }}<br/>
        <small>{{ label|replace(" ", "&nbsp;")|safe }}</small>
    </div>
{% endmacro %}


{% block container %}
    <div class="card card-body">
        <h1 class="display-4">INDRA CoGEx</h1>
        <p class="lead">
            A graph database integrating causal relations, ontological relations, properties, and data.
        </p>
        <div class="row text-center stats">
            {{ count_column(node_counter, "BioEntity", "Biological Entities", "dna") }}
            {{ count_column(node_counter, "ClinicalTrial", "Clinical Trials", "clinic-medical") }}
            {{ count_column(node_counter, "Publication", "Publications", "book") }}
            {{ count_column(node_counter, "Evidence", "Evidences", "puzzle-piece") }}
        </div>
        <div class="row text-center stats" style="padding-left: 3em; padding-right: 3em;">
            {% for edge_type, _ in edge_counter.most_common() %}
                {{ count_column_small(edge_counter, edge_type, edge_labels[edge_type]) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        (function ($) {
            $.fn.counter = function () {
                const $this = $(this),
                    numberFrom = 0,
                    numberTo = parseInt($this.attr('data-to')),
                    delta = numberTo - numberFrom,
                    deltaPositive = delta > 0,
                    time = parseInt($this.attr('data-time')),
                    changeTime = 10;

                let currentNumber = 0,
                    value = delta * changeTime / time;
                var interval1;
                const changeNumber = () => {
                    currentNumber += value;
                    //checks if currentNumber reached numberTo
                    (deltaPositive && currentNumber >= numberTo) || (!deltaPositive && currentNumber <= numberTo) ? currentNumber = numberTo : currentNumber;
                    this.text(parseInt(currentNumber));
                    currentNumber === numberTo ? clearInterval(interval1) : currentNumber;
                }

                interval1 = setInterval(changeNumber, changeTime);
            }
        }(jQuery));

        $(document).ready(function () {
            {% for key in node_counter %}
                $('.count-{{ key }}').counter();
            {% endfor %}
            {% for key in edge_counter %}
                $('.count-{{ key }}').counter();
            {% endfor %}
        });
    </script>
{% endblock %}
