name: Tests

on: [ push, pull_request ]

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.7", "3.9" ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set PyTest options
        if: github.event_name == 'pull_request'
        run:
          echo "PYTEST_ADDOPTS=-m 'not nonpublic'" >> $GITHUB_ENV
      - name: Check PyTest options
        run:
          echo $PYTEST_ADDOPTS
      - name: Install dependencies
        run: |
          pip install tox
          BIOONTOLOGY_VERSION=1.23
          echo "bio ontology version: ${BIOONTOLOGY_VERSION}"
          mkdir -p $HOME/.indra/bio_ontology/$BIOONTOLOGY_VERSION
          wget -nv https://bigmech.s3.amazonaws.com/travis/bio_ontology/$BIOONTOLOGY_VERSION/mock_ontology.pkl -O $HOME/.indra/bio_ontology/$BIOONTOLOGY_VERSION/bio_ontology.pkl
      - name: Test with pytest
        run:
          tox -e py
        env:
          INDRA_NEO4J_URL: ${{ secrets.INDRA_NEO4J_URL }}
          INDRA_NEO4J_USER: ${{ secrets.INDRA_NEO4J_USER }}
          INDRA_NEO4J_PASSWORD: ${{ secrets.INDRA_NEO4J_PASSWORD }}
